@page "/"
@using _1erParcial_JonathanMaria.Controllers;
@using _1erParcial_JonathanMaria.Data;

<div class="container text-center" >
    <h1>Registro de articulos</h1>
    <EditForm Model="Articulo" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />

        <div class="form-inline">
            <label for="ArticuloId" class="col-3" style="margin: 10px">Codigo del articulo:</label>
            <InputNumber @bind-Value="Articulo.ArticuloId" class="form-control" />
            <button type="button" class="btn btn-outline-dark" style="margin:10px" @onclick="Buscar">Buscar</button>
        </div>

        <div class="form-inline">
            <label for="Fecha" class="col-3" style="margin: 10px">Fecha</label>
            <InputDate @bind-Value="Articulo.Fecha" class="form-control" />
            <ValidationMessage For="@(() => Articulo.Fecha)" />
        </div>

        <div class="form-inline">
            <label for="Descripcion" class="col-3" style="margin: 10px">Descripcion:</label>
            <InputText @bind-Value="Articulo.Descripcion" class="form-control" />
            <ValidationMessage For="@(() => Articulo.Descripcion)" />
        </div>

        <div class="form-inline">
            <label for="Costo" class="col-3" style="margin: 10px">Costo:</label>
            <InputNumber @bind-Value="Articulo.Costo" class="form-control" />
            <ValidationMessage For="@(() => Articulo.Costo)" />
        </div>

        <div class="form-inline">
            <label for="Ganancia" class="col-3" style="margin: 10px">%Ganancia:</label>
            <InputNumber @bind-Value="Articulo.Ganancia" class="form-control" />
            <ValidationMessage For="@(() => Articulo.Ganancia)" />
        </div>

        <div class="form-inline">
            <label for="Precio" class="col-3" style="margin: 10px">Precio:</label>
            <InputNumber @bind-Value="Articulo.Precio" class="form-control" disabled />
            <ValidationMessage For="@(() => Articulo.Precio)" />
        </div>

        <small class="text-muted">@Mensaje</small>

        <div class="form-group">
            <button style="margin:15px" class="btn btn-outline-primary" type="button" @onclick="OnInitialized">Limpiar</button>
            <button style="margin:15px" type="submit" class="btn btn-outline-success">Guardar</button>
            <button style="margin:15px" class="btn btn-outline-danger" type="button" @onclick="Eliminar">Eliminar</button>
        </div>

    </EditForm>
</div>

@code{
    public Articulos Articulo { get; set; }
    public string Mensaje { get; set; }

    protected override void OnInitialized()
    {
        this.Articulo = new Articulos();
        this.Mensaje = string.Empty;
    }

    public void Guardar()
    {
        ArticulosController Ac = new ArticulosController();
        try
        {

            if (Articulo.ArticuloId == 0)
            {

                if (Ac.Guardar(Articulo))
                {

                    Mensaje = "El articulo se guardado con exito!...";
                }
                else
                {

                    Mensaje = "No fue posible guardar el articulo!...";
                }

            }
            else
            {

                if (Ac.Buscar(Articulo.ArticuloId) != null)
                {

                    if (Ac.Modificar(Articulo))
                    {

                        Mensaje = "El articulo se modifico con exito!...";
                    }
                    else
                    {

                        Mensaje = "No fue posible modificar el articulo!...";
                    }
                }
                else
                {

                    Mensaje = "Este articulo no existe, por ende, no pudo ser modificado!..";
                }
            }
        }
        catch (Exception)
        {

            throw;
        }


    }
    private void Buscar()
    {

        ArticulosController Ac = new ArticulosController();
        try
        {

            Articulos At = null;
            At = Ac.Buscar(Articulo.ArticuloId);
            if (At != null)
            {

                Articulo = At;
            }
            else
            {

                Mensaje = "Este articulo no existe!...";
            }
        }
        catch (Exception)
        {

            throw;
        }
    }

    private void Eliminar()
    {

        ArticulosController Ac = new ArticulosController();
        try
        {

            if (Ac.Eliminar(Articulo.ArticuloId))
            {

                Mensaje = "El articulo fue eliminado con exito!...";
            }
            else
            {

                Mensaje = "No fue posible eliminar el articulo!...";
            }
        }
        catch (Exception)
        {

            throw;
        }
    }

    private void Calcular()
    {
        Articulo.Precio = Articulo.Costo * (Articulo.Costo * (Articulo.Ganancia / 100));
    }
}